<!DOCTYPE html>
<html>
<style>
    * {
    		font-family: Arial, Helvetica, sans-serif;
    		outline: 0;
    	}

    	p{
    		font-size: 15px;
    	}

      .subtext {
        font-size: 13px;
        color: grey;
      }

    input[type=text], select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    input[type=password], select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    .smallSubmit {
        width: 10%;
        background-color: #1565c0;
        color: white;
        padding: 10px 16px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    .largeSubmit {
        width: 100%;
        background-color: #1565c0;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }


    .largeSubmit:hover {
        background-color: #0d47a1;
    }

    div {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
    }

    .container {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 15px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    /* Hide the browser's default checkbox */
    .container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

    /* Create a custom checkbox */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #ccc;
    }

    /* On mouse-over, add a grey background color */
    .container:hover input ~ .checkmark {
        background-color: #999;
    }

    /* When the checkbox is checked, add a blue background */
    .container input:checked ~ .checkmark {
        background-color: #2196F3;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the checkmark when checked */
    .container input:checked ~ .checkmark:after {
        display: block;
    }

    /* Style the checkmark/indicator */
    .container .checkmark:after {
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
</style>
<body>
  <!-- -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- -->
  <!--           HTML + CSS By         -->
  <!-- @NerdXNature // Daniel Stoiber  -->
  <!-- -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- -->
  <div>
    <h1>IR Thermostat</h1>
    {{#isBothHold}}
      <h4>There is currently an active hold, expiring in {{holdExpiry}} minutes:</h3>
      <ul>
        <li>Temperature: {{holdTemperature}}</li>
        <li>Fan speed: {{holdFanSpeed}}</li>
      </ul>
      <form class="" action="/api/temperatureSettings/hold/cancel?redirect=/" method="get">
        <input type="submit" name="" class="smallSubmit" value="Cancel Hold">
      </form>
      <br>
    {{/isBothHold}}
    {{#isTemperatureHold}}
      <h4>There is currently an active hold, expiring in {{holdExpiry}} minutes:</h3>
      <ul>
        <li>Temperature: {{holdTemperature}}</li>
      </ul>
      <form class="" action="/api/temperatureSettings/hold/cancel?redirect=/" method="get">
        <input type="submit" name="" class="smallSubmit" value="Cancel Hold">
      </form>
      <br>
    {{/isTemperatureHold}}
    {{#isFanSpeedHold}}
      <h4>There is currently an active hold, expiring in {{holdExpiry}} minutes:</h3>
      <ul>
        <li>Fan speed: {{holdFanSpeed}}</li>
      </ul>
      <form class="" action="/api/temperatureSettings/hold/cancel?redirect=/" method="get">
        <input type="submit" name="" class="smallSubmit" value="Cancel Hold">
      </form>
      <br>
    {{/isFanSpeedHold}}

    <form class="" action="/post" method="post">
      <p>The air conditioner is currently {{airConditionerStatus}}.</p>
      <p style="margin-left: 70px;">Air on?</p>
      <label class="container" style="margin-left: 10px; margin-top: -37px; margin-bottom: 30px;">
      <input type="checkbox" id="opt" name="airEnable" value="testValue"{{#isAirOn}}{{isAirOn}}{{/isAirOn}}>
      <span class="checkmark"></span>
      </label>

      <br>

      <p>The thermostat is currently set to {{temperature}}.</p>
      <p style="margin-left: 70px;">Temporarily set (2 hours)</p>
      <label class="container" style="margin-left: 10px; margin-top: -37px; margin-bottom: 30px;">
      <input type="checkbox" id="opt" name="temperatureHold">
      <span class="checkmark"></span>
      </label>
      <br>
      <input type="text" id="temperature" name="temperature" placeholder="{{temperature}}">

      <p>The fan speed is currently set to {{fanSpeed}}.</p>

      <p style="margin-left: 70px;">Temporarily set (2 hours)</p>
      <label class="container" style="margin-left: 10px; margin-top: -37px; margin-bottom: 30px;">
      <input type="checkbox" id="opt" name="fanSpeedHold">
      <span class="checkmark"></span>
      </label>
      <br>
      <input type="text" id="fanSpeed" name="fanSpeed" placeholder="{{fanSpeed}}">

      <p>Up/down swing is currently {{udSwing}}.</p>
      <p style="margin-left: 70px;">Up/down swing?</p>
      <label class="container" style="margin-left: 10px; margin-top: -37px; margin-bottom: 30px;">
      <input type="checkbox" id="opt" name="udSwing" {{#isUpDownSwingOn}}{{isUpDownSwingOn}}{{/isUpDownSwingOn}}>
      <span class="checkmark"></span>
      </label>

      <br>


      <p>Left/right swing is currently {{lrSwing}}.</p>
      <p style="margin-left: 70px;">Left/right swing?</p>
      <label class="container" style="margin-left: 10px; margin-top: -37px; margin-bottom: 30px;">
      <input type="checkbox" id="opt" name="lrSwing"{{#isLeftRightSwingOn}}{{isLeftRightSwingOn}}{{/isLeftRightSwingOn}}>
      <span class="checkmark"></span>
      </label>

      <br>


      <p>The light is currently {{light}}.</p>
      <p style="margin-left: 70px;">Light on?</p>
      <label class="container" style="margin-left: 10px; margin-top: -37px; margin-bottom: 30px;">
      <input type="checkbox" id="opt" name="light" {{#isLightOn}}{{isLightOn}}{{/isLightOn}}>
      <span class="checkmark"></span>
      </label>

      <br>

      <input type="submit" class="largeSubmit" value="Save Changes">
      <p>Changes may take up to {{checkDelay}} seconds to take effect.</p>
    </form>
    <p>Want to change settings? Click <a href="settings/" >here!</a></p>
  </div>
</body>
</html>
